.duck1{
  width: 11%;
  padding-top: 5%;
  margin-left: 2%;
}
.duck2{
  width: 11%;
  padding-top: 1%;
  margin-left: 2%;
}
body{
  background-image: url("../images/waves.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(110,207,242,1);
}
h1{
  text-align: center;
  font-size: 13vw;
  font-family: 'Bangers', cursive;
  margin-top: 15px;
  color: #F2C802;
  text-shadow: 10px 10px #000000
}
.reset{
  float:right;
  font-size: 2vw;
  font-family: 'Bangers', cursive;
}
.clearScore{
  float:right;
  font-size: 2vw;
  font-family: 'Bangers', cursive;
}
#winner{
  text-align: center;
  font-size: 5vw;
  font-family: 'Bangers', cursive;
  margin-bottom: -7%;
}
.key{
  width: 10%;
}
#score{
  text-align: center;
  margin-bottom: -2%;
  font-size: 25px;
  font-family: 'Bangers', cursive;
}
